venv/
doc/build/
postgres
.pyc
.idea/workspace.xml
__pycache__
db.sqlite3

node_modules/
media/

docker-compose.yaml
/services/exagere_backend/app/media/
/services/exagere_webui/artifacts/
/e2e/cypress/cypress/videos
/e2e/cypress/cypress/screenshots

dump*.json

.~lock-*
logs*

.idea/shelf/