{% extends "indexer/base.html" %}

{% block apikey_nav_active %}active{% endblock apikey_nav_active %}


{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <h3 class="my-3">🔑API Keys Management</h3>

<div class="key-usage-summary">
    <h3>Summary of API Key Usage</h3>
    <p>⚡ Total keys for Indexation: {{ total_indexation_keys }} - ✅ Total keys for Verification: {{ total_check_keys }}</p>
</div>
        
<div class="accordion accordion-flush my-2 py-1" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="btn btn-outline-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        ✚<strong>Upload new keys</strong>
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
     
         <div class="accordion-body"> <div class="row align-items-center border border-light my-1 py-1">

            <div class="col ">
                <label for="{{ form.file.id_for_label }}" class="form-label">🔑Upload new keys</label>
                <input class="form-control" multiple=true type="file" id="{{ form.file.id_for_label }}"
                       name="{{ form.file.html_name }}">
            </div>



            
            <div class="col">

                <label class="form-label">Usage</label>
                {% for value, name in form.usage.field.choices %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="{{ value }}"
                               name="{{ form.usage.html_name }}"
                                {% if forloop.first %} checked {% endif %}
                               id="id_{{ form.field_name.name }}_{{ forloop.counter0 }}">
                        <label class="form-check-label"
                               for="id_{{ form.field_name.name }}_{{ forloop.counter0 }}">{{ name }}</label>

                    </div>
                {% endfor %}
            </div>
            <div class="col">
                <button type="submit" class="btn btn-outline-success ms-auto">✚ Add keys</button>
            </div>
        </div>
         </div>
    </div>
  </div>
</div>        
       
       
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">🏷️Name</th>
            <th scope="col">➡️Usage</th>
            <th scope="col">🕒Last Usage</th>
            <th scope="col">🔍Status</th>
            <th scope="col">📈Key Usage Rate</th>
            <th scope="col">🗑️Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for apikey in object_list %}
            <tr>

                <th>{{ apikey.name }}</th>
                <th>{{ apikey.get_usage_display }}</th>
                <td>{{ apikey.last_usage }}</td>
                <td>{{ apikey.get_status_display }}</td>
                <td>{{ apikey.count_today }} / {{ apikey.max_per_day }}</td>

                <td>
                    <a class="btn btn-outline-danger ms-auto" href="{% url "indexer:apikey-delete" pk=apikey.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock content %}
