{% extends "indexer/base.html" %}


{% block indexer_nav_active %}active{% endblock indexer_nav_active %}
{% block sub_title %}{{ block.super }} - {{ object.name }} {% endblock sub_title %}

{% block content %}

    <h2>
        {{ object.name }} ({{ object.get_status_display }})
    </h2>
    <ul>
        <li>🔄 Last update : {{ object.last_update }}</li>
        <li>⏭️ Next update :  {{ object.next_update }}</li>
        <li>🔒Validation not before :  {{ object.next_verification }}</li>
    </ul>

    <div class="row">
        <div class="col">

            <form method="post" action="{% url 'indexer:site-action' pk=object.id %}">
                {% csrf_token %}
                <input type="hidden" name="action" value="reset_pending"/>
                <button class="btn btn-primary" type="submit">🔄Reset pending tasks</button>
            </form>
        </div>
        <div class="col">
            <form method="post" action="{% url 'indexer:site-action' pk=object.id %}">
                {% csrf_token %}
                <input type="hidden" name="action" value="update"/>
                <button class="btn btn-light" type="submit">🌐Force update sitemap</button>
            </form>
        </div>

        <div class="col">
            <form method="post" action="{% url 'indexer:site-action' pk=object.id %}">
                {% csrf_token %}
                <input type="hidden" name="action" value="reset_pages"/>
                <button class="btn btn-outline-danger" type="submit">⚠️Reset all Pages</button>
            </form>
        </div>
    </div>


    <a href="{{ object.sitemap_url }}">{{ object.sitemap_url }}</a>
    {% with object.get_pages_statistics as page_statistics %}
        {% with page_statistics.by_statuses_percent as percent %}
            {{  percent }}
            <div class="specific-h-25 progress-stacked">
                <div class="progress fs-6"
                     role="progressbar"
                     aria-label="need indexation"
                     aria-valuenow="{{ percent.2_NEED_INDEXATION|floatformat:"0" }}"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     style="width: {{ percent.2_NEED_INDEXATION|floatformat:"0" }}%"

                     data-bs-toggle="tooltip" data-bs-title="📇Need Indexation"
                     data-filter=2_NEED_INDEXATION
                >
                    <div class="progress-bar bg-warning">{{ page_statistics.by_statuses.2_NEED_INDEXATION|floatformat:"0" }}</div>
                </div>
                <div class="progress fs-6 progress-bar-striped"
                     role="progressbar"
                     aria-label="pending indexation call"
                     aria-valuenow="{{ percent.3_PENDING_INDEXATION_CALL|floatformat:"0" }}"
                     aria-valuemin="0"
                     aria-valuemax="100" style="width: {{ percent.3_PENDING_INDEXATION_CALL|floatformat:"0" }}%"
                     data-bs-toggle="tooltip"
                     data-bs-title="⏳Pending indexation call"
                     data-filter="3_PENDING_INDEXATION_CALL"
                >
                    <div class="progress-bar bg-light">{{ page_statistics.by_statuses.3_PENDING_INDEXATION_CALL|floatformat:"0" }}</div>
                </div>
                <div class="progress fs-6"
                     role="progressbar"
                     aria-label="indexed"
                     aria-valuenow="{{ percent.5_INDEXED|floatformat:"0" }}"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     style="width: {{ percent.5_INDEXED|floatformat:"0" }}%"
                     data-bs-toggle="tooltip" data-bs-title="✅Indexed"
                     data-filter="5_INDEXED"
                >
                    <div class="progress-bar bg-success">{{ page_statistics.by_statuses.5_INDEXED|floatformat:"0" }}</div>
                </div>

            </div>
        {% endwith %}
    {% endwith %}
    <h3> Top 10 of each status</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">🔗URL</th>
            <th scope="col">🔍Status</th>
            <th scope="col">🗓️Last indexation</th>
            <th scope="col">⚙️Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for page in top10 %}
            <tr>
                <th scope="row"><a href="{{ page.url }}">{{ page.url }}</a></th>
                <td>{{ page.get_status_display }}</td>
                <td>{{ page.last_indexation }}</td>
                <td>

                    <form method="post" action="{% url 'indexer:page-action' pk=page.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="index"/>
                        <button class="btn btn-outline-danger" type="submit">⚡Force Indexation</button>
                    </form>


                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock content %}

{% block js %}
    <script>
        const tooltipTriggerList = document.querySelectorAll(
            "[data-bs-toggle='tooltip']"
        );

        const tooltipList = [...tooltipTriggerList].map(
            (tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl)
        );


    </script>

    <script>

        [...document.querySelectorAll(
            "[data-filter]"
        )].map(
            elt => {
                console.log("prout");
                elt.addEventListener('click',(elt2) => {
                        var filterValue = elt.getAttribute('data-filter')
                        console.log(filterValue);
                        var url = new URL(window.location.href);
                        url.searchParams.set('status',filterValue);
                        window.location.href = url.toString();
                    }
                )
            }
        );


    </script>

{% endblock js %}
