{% extends "indexer/base.html" %}


{% block indexer_nav_active %}active{% endblock indexer_nav_active %}
{% block sub_title %}{{ block.super }} - {{ object.name }} {% endblock sub_title %}

{% block content %}

    <h2>
        {{ object.name }} ({{ object.get_status_display }})
    </h2>
    <ul>
        <li>last update: {{ object.last_update }}</li>
        <li>next update {{ object.next_update }}</li>
    </ul>

    <div class="row">

    <div class="col">

        <form method="post" action="{% url 'indexer:site-action' pk=object.id %}">
            {% csrf_token %}
            <input type="hidden" name="action" value="update" />
            <button class="btn btn-light" type="submit">force update sitemap</button>
        </form>
    </div>
    <div class="col">

        <form method="post" action="{% url 'indexer:site-action' pk=object.id %}">
            {% csrf_token %}
            <input type="hidden" name="action" value="reset_pages" />
            <button class="btn btn-outline-danger" type="submit">force reset all pages</button>
        </form>
    </div>
    </div>


    <a href="{{ object.sitemap_url }}">{{ object.sitemap_url }}</a>
    {% with object.get_pages_statistics as page_statistics %}
        {% with page_statistics.by_statuses_percent as percent %}
            <div class="specific-h-25 progress-stacked">
                <div class="progress fs-6" role="progressbar" aria-label="created"
                     aria-valuenow="{{ percent.0_CREATED|floatformat:"0" }}" aria-valuemin="0" aria-valuemax="100"
                     style="width: {{ percent.0_CREATED|floatformat:"0" }}%"
                     data-bs-toggle="tooltip" data-bs-title="created"
                >
                    <div class="progress-bar bg-primary-subtle">{{ page_statistics.by_statuses.0_CREATED|floatformat:"0" }}</div>
                </div>
                <div class="progress fs-6 progress-bar-striped" role="progressbar" aria-label="pending verification"
                     aria-valuenow="{{ percent.1_PENDING_VERIFICATION|floatformat:"0" }}" aria-valuemin="0"
                     aria-valuemax="100" style="width: {{ percent.1_PENDING_VERIFICATION|floatformat:"0" }}%"
                     data-bs-toggle="tooltip" data-bs-title="pending verification">
                    <div class="progress-bar bg-info">{{ page_statistics.by_statuses.1_PENDING_VERIFICATION|floatformat:"0" }}</div>
                </div>
                <div class="progress fs-6" role="progressbar" aria-label="need indexation"
                     aria-valuenow="{{ percent.2_NEED_INDEXATION|floatformat:"0" }}" aria-valuemin="0"
                     aria-valuemax="100"
                     style="width: {{ percent.2_NEED_INDEXATION|floatformat:"0" }}%"
                     data-bs-toggle="tooltip" data-bs-title="need indexation">
                    <div class="progress-bar bg-warning">{{ page_statistics.by_statuses.2_NEED_INDEXATION|floatformat:"0" }}</div>
                </div>
                <div class="progress fs-6 progress-bar-striped" role="progressbar" aria-label="pending indexation call"
                     aria-valuenow="{{ percent.3_PENDING_INDEXATION_CALL|floatformat:"0" }}" aria-valuemin="0"
                     aria-valuemax="100" style="width: {{ percent.3_PENDING_INDEXATION_CALL|floatformat:"0" }}%"
                     data-bs-toggle="tooltip" data-bs-title="pending indexation call">
                    <div class="progress-bar bg-light">{{ page_statistics.by_statuses.3_PENDING_INDEXATION_CALL|floatformat:"0" }}</div>
                </div>
                <div class="progress fs-6" role="progressbar" aria-label="pending indexation by google"
                     aria-valuenow="{{ percent.4_PENDING_INDEXATION_WAIT|floatformat:"0" }}" aria-valuemin="0"
                     aria-valuemax="100" style="width: {{ percent.4_PENDING_INDEXATION_WAIT|floatformat:"0" }}%"
                     data-bs-toggle="tooltip" data-bs-title="pending indexation by google">
                    <div class="progress-bar bg-primary">{{ page_statistics.by_statuses.4_PENDING_INDEXATION_WAIT|floatformat:"0" }}</div>
                </div>
                <div class="progress fs-6" role="progressbar" aria-label="indexed"
                     aria-valuenow="{{ percent.5_INDEXED|floatformat:"0" }}" aria-valuemin="0" aria-valuemax="100"
                     style="width: {{ percent.5_INDEXED|floatformat:"0" }}%"
                     data-bs-toggle="tooltip" data-bs-title="indexed">
                    <div class="progress-bar bg-success">{{ page_statistics.by_statuses.5_INDEXED|floatformat:"0" }}</div>
                </div>

            </div>
        {% endwith %}
    {% endwith %}
    <h3> top 10 of each statuses</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">url</th>
            <th scope="col">status</th>
            <th scope="col">last verification</th>
            <th scope="col">next verification</th>
            <th scope="col">last indexation</th>
            <th scope="col">actions</th>
        </tr>
        </thead>
        <tbody>
        {% for page in top10 %}
            <tr>
                <th scope="row"><a href="{{ page.url }}">{{ page.url }}</a></th>
                <td>{{ page.get_status_display }}</td>
                <td>{{ page.next_verification }}</td>
                <td>{{ page.last_verification }}</td>
                <td>{{ page.last_indexation }}</td>
                <td>
                    <form method="post" action="{% url 'indexer:page-action' pk=page.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="verify"/>
                        <button class="btn btn-outline-info" type="submit">force verification</button>
                    </form>

                    <form method="post" action="{% url 'indexer:page-action' pk=page.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="index"/>
                        <button class="btn btn-outline-danger" type="submit">force indexation</button>
                    </form>


                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock content %}

{% block js %}
    <script>
        const tooltipTriggerList = document.querySelectorAll(
            "[data-bs-toggle='tooltip']"
        );

        const tooltipList = [...tooltipTriggerList].map(
            (tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl)
        );
    </script>

{% endblock js %}